.avatar {
  max-width: 100px !important;
  margin-bottom: 40px;
}

@media only screen and (max-width: 576px) {
  .avatar {
    max-width: 200px !important;
  }
  .updateAvatarBtn {
    margin-bottom: 30px;
  }
  .header {
    text-align: center;
  }
}
