@media only screen and (max-width: 600px) {
  .img-fluid {
    max-width: 200px !important;
  }
  .btn {
    margin-bottom: 30px;
  }
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
