@media only screen and (max-width: 600px) {
  .img-fluid {
    max-width: 200px !important;
  }
  .btn {
    margin-bottom: 30px;
  }
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.uppy-DragDrop-arrow {
  display: none;
}
.uppy-DragDrop-container {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 4px;
}
.uppy-DragDrop-container:hover {
  background-color: #0a63c3; /* Green */
  color: white;
}
.uppy-DragDrop-container:focus,
.uppy-DragDrop-container:active {
  outline: none !important;
  box-shadow: none !important;
}
