.sidebar {
  min-height: 100vh;
  background-color: #04b589;
  position: sticky;
}
.footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 60px;
}

@media (max-width: 1200px) {
  .sidebar {
    -ms-flex: 0 0 22.666667%;
    flex: 0 0 22.666667%;
    max-width: 22.666667%;
  }
}
