.updateBtn:focus,
.updateBtn:active {
  outline: none !important;
  box-shadow: none !important;
}
.logoutAllbtn:focus,
.logoutAllbtn:active {
  outline: none !important;
  box-shadow: none !important;
}
